/*#ballsstrikesoutstable{
	border:none;
	width:900px;
	position:relative;
	margin-left: auto;
	margin-right: auto;
}*/

#field{
	position:relative;
	height: 70%;
	width: 100%;
}

#runneronfirst{
	position:relative;
	top: -120%;
	left: 81%;
	height:9%;
	width:6%;
}

#runneronfirstimagecontainer{
    position: relative;
    top: -102%;
    left: 77%;
    height: 9%;
    width: 6%;
}

/*#runneronfirstimage
{
    height:50px;
    width:50px;
    position: relative;
    top: -15px
}*/

#runneronsecond{
	position:relative;
	top: -101%;
	left: 47.5%;
	height:9%;
	width:6%;
}

#runneronsecondimagecontainer{
    position: relative;
    top: -94%;
    left: 40%;
    height: 9%;
    width: 6%;
}

/*#runneronsecondimage
{
    height:50px;
    width:50px;
    position: relative;
    top: -25px;
}*/

#runneronthird{
    position: relative;
    top: -101%;
    left: 13%;
    height: 9%;
    width: 6%;
}

#runneronthirdimagecontainer{
    position: relative;
    top: -117%;
    left: 14%;
    height: 9%;
    width: 6%;
}

/*#runneronthirdimage
{
    height:50px;
    width:50px;
}*/

#pitcher{
    position: relative;
    top: -108%;
    left: 47%;
    height: 9%;
    width: 6%;
}

#pitcherimagecontainer{
position: relative;
top: -98%;
left: 45.5%;
height: 12%;
width: 8%;
}

#catcher{
height: 5%;
left: 48%;
position: relative;
top: -128%;
width: 5%;
}

#catcherimagecontainer{
position: relative;
top: -117%;
left: 45.5%;
height: 12%;
width: 8%;
}

#hitter {
height: 6%;
left: 46%;
position: relative;
top: -116%;
width: 8%;
}

#lh_hitterimage{
height: 12%;
left: 60%;
position: relative;
top: -104%;
width: 8%;
}

#rh_hitterimage{
height: 12%;
left: 32%;
position: relative;
top: -122%;
width: 8%;
}

#away_team_ondeck_hitterimage {
height: 12%;
left: 4%;
position: relative;
top: -148%;
width: 8%;
}

#home_team_ondeck_hitterimage {
height: 12%;
left: 88%;
position: relative;
top: -136%;
width: 8%;
}