#pitchcountercontainer {
	-moz-border-radius-bottomleft:5px;
	-moz-border-radius-bottomright:5px;
	-moz-border-radius-topleft:5px;
	-moz-border-radius-topright:5px;
/*	border:1px solid #666666;*/
	padding:0 0 0 0;
	position:relative;
	margin-right:25px;
}

#pitchrecordertable {
	border-collapse:collapse;
	font-size:0.8em;
	position:relative;
	text-align:left;
	width:100%;
}

#pitchrecordertableheadercolumn1 {
	width:23px;
}

#pitchrecordertableheadercolumn2 {
	width:185px;
}

#pitchrecordertableheadercolumn3 {
	width:208px;
}

#pitchrecordertableheadercolumn4 {
	width:211px;
}

#pitchrecordertableheadercolumn5 {
	width:55px;
}

#pitchrecordertableheadercolumn6 {
	width:80px;
}

#pitchrecordertable select{
	font-size:0.8em;
}

#pitchrecordertable .buttons {
	background-color:#3B3B3B;
	color:#FFFFFF;
	font-family:Verdana,Arial,Helvetica,sans-serif;
	font-size:0.6em;
	margin-right:3px;
	position:relative;
	cursor:pointer;
}

#undobutton {
	background-color:#3B3B3B;
	color:#FFFFFF;
	font-family:Verdana,Arial,Helvetica,sans-serif;
	margin-right:3px;
	position:relative;
	cursor:pointer;
	font-size:0.7em;
}

#addrowid .buttons {
	background: #0066FF url('../images/menubg.jpg') repeat-x bottom;
	color:#FFFFFF;
	font-family:Verdana,Arial,Helvetica,sans-serif;
	font-size:0.6em;
	margin-right:3px;
	position:relative;
	cursor:pointer;
}

.activeRow{
	background: #0066FF url('../images/menubg.jpg') repeat-x top;
	color:#FFF;
	font-weight: bold;
	height:48px;
}

.inactiveRow{
	background-color:#DDD;
	color:#000;
	font-weight: bold;
	height:25px;
	font-size:0.9em;
}

.headerRow{
	background-color:#3b3b3b;
	border-bottom:1px solid #666666;
	height:25px;
	color:#CCC;
}

.addRow{
	background-color:#3B3B3B;
	height:25px;
}