#pitchchart {
    opacity: 1 !important;
}       
#hitchart {
    opacity: 1 !important;
}       
#pitchtypepercentagechart {
    opacity: 1 !important;
}       
#verticalchart {
    opacity: 1 !important;
}       
#horizontalchart {
    opacity: 1 !important;
}       
#resultspercentagechart {
    opacity: 1 !important;
}       
#outcomepercentagechart {
    opacity: 1 !important;
}       
#pitchtypepercentagechart {
    opacity: 1 !important;
}   

