body {
	background-color: #ffffff;
        margin: 0px;
}

#container {
    -moz-background-inline-policy: continuous;
    background: none repeat scroll 0 0 #FFFFFF;
    border-right: 1px solid #FFFFFF;
    margin-left: auto;
    margin-right: auto;
    min-height: 568px;
    width: 1320px;
}

#content {
position:relative;
width:1320px;
padding-bottom: 100px;
}

#preload {
width: 0;
height: 0;
display: inline;
background-image: url('../images/menubg.jpg');
}

#header {
    height: 140px;
    left: -1px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 100%;
    border-top: 8px solid #000000;
}

/*#header {
    background-color: #3B3B3B;
    height: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    vertical-align: bottom;
    width: 1320px;
    z-index: 1;
}

#header h1 {
display: block;
position: absolute;
margin: 113px 0 0 0; padding: 0;
background-color: transparent;
color: #fff;
font-family: 'trebuchet ms', 'century gothic', verdana, sans-serif;
font-size: 35px;
font-weight: 400;
z-index: 4;
}

#header h2 {
display: block;
position: absolute;
margin: 113px 0 0 0; padding: 0;
background-color: transparent;
color: #fff;
font-family: 'trebuchet ms', 'century gothic', verdana, sans-serif;
font-size: 15px;
font-weight: 400;
z-index: 4;
}*/
 
form#login {
background-color:#CCCCCC;
border:1px solid #999999;
color:#000000;
font-family:Verdana,Arial,Helvetica,sans-serif;
font-size:.6em;
}

#login .text {  
 font-family: Verdana, Arial, Helvetica, sans-serif;  
 font-size: 11px;  
 width: 100px;  
 margin-right: 6px;  
 
}

#login .buttons {
background-color:#333333;
color:#FFFFFF;
font-family:Verdana,Arial,Helvetica,sans-serif;
font-size:11px;
margin-right:6px;
position:relative;
right:-12px;
}

#logincontainer {
    height: 23px;
    left: 874px;
    position: relative;
    top: -33px;
    width: 442px;
    z-index: 5;
}

#loggedin {
    height: 23px;
    left: 879px;
    position: relative;
    text-align: right;
    top: -36px;
    width: 442px;
    z-index: 5;
}

#loggedin .buttons {  
 font-family: Verdana, Arial, Helvetica, sans-serif;  
 font-size: 11px;
 color: #000000;  
 margin-right: 6px;  
}

#loggedin h1{
background-color: transparent;
color: #fff;
font-family: 'trebuchet ms', 'century gothic', verdana, sans-serif;
font-size: 10.8px;
letter-spacing: .001em;
}

#register
{
    position: relative;
    top: -10px;
    left: 125px;
}

#pitchpredictlogo {
    height: 35px;
    left: 82%;
    position: relative;
    top: 10%;
    width: 175px;
    z-index: 4;
}

#pitchpredictlogo h1 {
display: block;
/*position: absolute;
margin: 113px 0 0 0; padding: 0;*/
background-color: transparent;
color: #fff;
font-family: 'trebuchet ms', 'century gothic', verdana, sans-serif;
font-size: 35px;
font-weight: 400;
z-index: 4;
}

/*#companylogo {
height:100px;
left:530px;
position:relative;
top:-240px;
width:800px;
}

#companylogo h6 {
color: #444;
font-family: 'trebuchet ms', 'century gothic', verdana, sans-serif;
font-size: 100px;
letter-spacing: -11px;
}*/

/*
#menu {
position: relative;
width: 1320px;
height: 61px;
margin: 0 0 0 0;
background-color: #000;
background-image: url('../images/field_night.gif');
background-repeat:no-repeat;
background-position-x:left;
border-top: solid 1px #FFF;
border-bottom: solid 1px #FFF;
border-right:1px solid #FFFFFF;
-moz-border-radius:5px;
-webkit-border-radius:5px;
z-index: 3;
text-align: center;
}

#menu ul {
margin-top: 20px;
}

#menu ul li {
display: inline;
}

#menu ul li a {
background-color: transparent;
background-repeat: repeat-x;
padding: 14px 20px 14px 20px;
font-size: 0.8em;
font-family: 'century gothic', verdana, sans-serif;
color: #666;
font-weight: bold;
text-decoration: none;
border: solid 1px #000;
}

#menu ul li a:active {
background: #0066FF url('../images/menubg.jpg') repeat-x top;
color: #fff;
text-decoration: none;
border: solid 1px #fff;
}

#menu ul li a:hover {
background: #0066FF url('../images/menubg.jpg') repeat-x top;
color: #fff;
text-decoration: none;
border: solid 1px #fff;
}
				
#homemenubutton {
}

#addmenubutton {
}

#updatemenubutton {
}

#situationsmenubutton {
}

#contactmenubutton {
}

#aboutmenubutton {
}
*/
#main {-moz-border-radius-bottomleft:5px;
-moz-border-radius-bottomright:5px;
-moz-border-radius-topleft:5px;
-moz-border-radius-topright:5px;
border:1px solid #DDDDDD;
position:relative;
width:1320px;
}

#left_col {
float:left;
margin-right:5px;
width:200px;
position: fixed;
top: 78px;
}

#center_col {
	width: 900px;
	margin: 0 207px 0 207px;
        position: relative;
        top: -69px;
}

#right_col {
float: right;
width: 200px;
margin-right:1px;
position: fixed;
top: 78px;
margin-left: 1117px;;
}
 
#footer {
color:#AAAAAA;
font-size:0.7em;
position:relative;
text-align:center;
top: 70px;
}

#subnav {
clear: left;
float: left;
width: 140px;
padding: 0;
font-size: 0.6em;
font-family: verdana, arial, sans-serif;
}

#subnav ul {	
list-style: none;
width: 140px;
margin: 0 0 20px 0;
padding: 0;
font-size: 1.1em;
}	

#subnav li {
margin-bottom: 1px;
}

#subnav li a {
font-weight: bold;
height: 20px;
text-decoration: none;
color: #cccccc;
display: block;
padding: 5px;
background: #3b3b3b;
border-right: 10px solid #fff;
}	
	
#subnav li a:hover {
background: #0066FF;
color: #ffffff;
border-right: 10px solid #0066FF;
}

#subnav .child {
font-size: 0.9em;
padding: 0;
}

#subnav .child a {
height: 14px;
padding-left: 10px; 
border-right: 10px solid #fff;
background: #bbb;
color: #666;
}

#subnav .child a:hover {
color: #0066FF;
background-color: #e0e0e0;
border-right: 10px solid #fff;
}

#extras {
clear: right;
float: right;
width: 140px;
margin-left: 10px;
margin-bottom: 20px;
padding: 0;
color: #666;
}

#extras p {
line-height: 1.5em;
margin: 0 0 1.5em 0;
font-size: 0.7em;
}

#box1 {
background: #fff url('../images/boxbg.jpg') repeat-x top;
border: 1px solid #ccc;
width: 30%;  
float: left; 
margin: 0 2px; text-align: left;
padding: 1px; 
}

#box2 { 
background: #fff url('../images/boxbg.jpg') repeat-x top;
border: 1px solid #ccc;
margin: 0 auto;
width: 30%;  text-align: left; 
padding: 1px;
}

#box3 { 
background: #fff url('../images/boxbg.jpg') repeat-x top;
border: 1px solid #ccc;
width: 30%; 
float: right; 
margin: 0 2px; text-align: left;
padding: 1px;
}


#box1 h2, #box2 h2, #box3 h2 {
margin-left: 4px;
}

.right {
float: right;
margin: 0 0 8px 12px;
padding: 4px;
background-color: #FFF;
border: 1px solid #CCC;
}

.center {
float:center;
display:block;
margin-top: 15px;
}

.box {
margin: 0 4px 10px 4px;
line-height: 1.3em;
font-size: 0.8em;
border: 0;
}

a {
text-decoration: none;
color: #0066FF;
cursor:pointer;
}

a:hover {
text-decoration: underline;
color: #0066FF;
}

h1 {
margin-top: 0px;
color: #0066FF;
letter-spacing: -2px;
font-family: 'trebuchet ms', 'century gothic', verdana, sans-serif;
}

h2 {
margin-top: 20px;
margin-bottom: 10px;
color: #666;
letter-spacing: -1px;
font-size: 1.3em; font-weight: 400;
font-family: 'trebuchet ms', 'century gothic', verdana, sans-serif;
}

span {
color: #0066FF;
}

select {
cursor:pointer;
}

.pointer{
cursor:pointer;
}

#resultscontainer{
    position: relative;
    left:-40px;
    top:-10px;
}

#results_iframe {
    border: medium none;
    left: -13px;
    position: relative;
    /*top: -7px;*/
    overflow: hidden;
    height: 665px;
    width: 896px;
/*    zoom: 0.75;
    -moz-transform: scale(0.75);
    -moz-transform-origin: 0 0;
    -o-transform: scale(0.75);
    -o-transform-origin: 0 0;
    -webkit-transform: scale(0.75);
    -webkit-transform-origin: 0 0;*/
}